@charset "utf-8";
@import "base";
.codefixed {
    @include position(117px, $n0, fixed, 260px, 20px);
    padding-top: 20px;
    border: none;
    z-index: 9999;
    i {
        @include position($n0, $n0, absolute, -8px, -10px);
        display: inline-block;
        font-size: 18px;
        font-weight: 900;
        cursor: pointer;
    }
    img {
        display: inline-block;
        width: 116px;
        height: 116px;
    }
    span {
        @include font(12px, 12px, center);
        display: block;
        height: 20px;
    }
}