@charset "utf-8";
.codefixed {
    position: fixed;
    top: 260px;
    right: 20px;
    width: 117px;
    padding-top: 20px;
    border: none;
    z-index: 9999;
    i {
        position: absolute;
        top: -8px;
        right: -10px;
        display: inline-block;
        font-size: 18px;
        font-weight: 900;
        cursor: pointer;
    }
    img {
        display: inline-block;
        width: 116px;
        height: 116px;
    }
    span {
        display: block;
        font-size: 12px;
        height: 20px;
        line-height: 12px;
        text-align: center;
    }
}