@charset "utf-8";
main {
    .banner {
        width: 100%;
        height: 45px;
        background-color: #999;
        margin-top: 0;
    }
    .top-nav {
        padding: 15px 0;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
        a {
            color: #444;
        }
    }
}

.detail {
    height: 600px;
    width: 100%;
    position: relative;
    font-size: 12px;
    margin-bottom: 50px;
    .goodsimgs {
        position: absolute;
        left: 420px;
        top: 0;
        width: 75px;
        height: 560px;
        margin-left: 10px;
        margin-right: 60px;
        overflow: hidden;
        span {
            display: block;
            width: 71px;
            height: 96px;
            cursor: pointer;
            margin-bottom: 15px;
            border: 2px solid #fff;
            &:hover {
                border: 2px solid;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .goodsdetail {
        position: absolute;
        right: 0;
        top: 0;
        width: 585px;
        height: 540px;
        .price {
            height: 30px;
            a {
                color: red;
                margin-left: 20px;
            }
            i {
                margin-left: 20px;
            }
            .goods-price {
                font-size: 22px;
                line-height: 24px;
                font-weight: 900;
            }
        }
        .goodstitle {
            font-size: 20px;
            font-weight: 900;
            line-height: 30px;
        }
        .chosedetail {
            height: 44px;
            line-height: 44px;
            span {
                display: inline-block;
            }
        }
    }
    .color-name {
        border: 1px solid;
        display: inline-block;
        line-height: 34px;
        font-size: 12px;
        text-indent: 10px;
        padding: 3px;
        img {
            display: inline-block;
            float: left;
            width: 25px;
            height: 34px;
        }
    }
    .size-button {
        font-size: 12px;
        display: block;
        height: 24px;
        line-height: 24px;
        margin-right: 8px;
        margin-top: 8px;
        padding: 0 10px;
        border: 1px solid #999;
        text-align: center;
        cursor: pointer;
        width: 10px;
    }
    .size {
        margin-top: 8px;
    }
    .number {
        input {
            display: inline-block;
            width: 50px;
            height: 25px;
            line-height: 27px;
            text-align: center;
            border: 1px solid;
            margin: 0 5px;
        }
        .numbercount {
            display: inline-block;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            font-size: 12px;
            border: 1px solid;
            cursor: pointer;
        }
    }
    .share {
        position: absolute;
        left: 0;
        bottom: 0;
        span {
            font-size: 13px;
            letter-spacing: 5px;
            float: left;
        }
        i {
            display: inline-block;
            float: left;
            margin-left: 5px;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }
    }
    .weibo {
        background-image: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.scss.png?t=1594090251212);
        background-size: 123px 122px;
        background-position: -48px -62px;
    }
    .weixin {
        background-image: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.scss.png?t=1594090251212);
        background-size: 123px 122px;
        background-position: 0px -62px;
    }
    .qzone {
        background-image: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.scss.png?t=1594090251212);
        background-size: 123px 122px;
        background-position: -24px -38px;
    }
    .qq {
        background-image: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.scss.png?t=1594090251212);
        background-size: 123px 122px;
        background-position: 0px -38px;
    }
    .active {
        border: 2px solid;
    }
    .line {
        width: 100%;
        height: 2px;
        border-bottom: 1px solid #eaeceb;
        margin: 20px 0;
    }
    .addtocart {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 15px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        width: 180px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        background-color: #d0021b;
        box-sizing: border-box;
    }
    .collect {
        display: inline-block;
        width: 140px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        margin-bottom: 15px;
        background-color: #fff;
        color: #222;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 16px;
        cursor: pointer;
    }
    .support-service {
        letter-spacing: 2px;
        margin-bottom: 15px;
        i {
            color: #d0021b;
        }
    }
    .codebox {
        width: 180px;
        height: 92px;
        padding: 4px 5px 5px;
        cursor: pointer;
        img {
            width: 92px;
            display: inline-block;
        }
        span {
            float: right;
            font-size: 14px;
            width: 82px;
            line-height: 20px;
            margin-top: 30px;
        }
    }
    .title-left {
        font-weight: 900;
        display: inline-block;
        letter-spacing: 5px;
    }
    .title-left-b {
        letter-spacing: 22px;
        i {
            letter-spacing: 5px;
        }
    }
}

.scale {
    position: relative;
    .goodsbigimg {
        position: absolute;
        width: 420px;
        height: 560px;
        z-index: 2;
        top: 0;
        left: 0;
        img {
            width: 100%;
            display: block;
        }
        .sf {
            opacity: 0.3;
            background-color: orange;
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            cursor: move;
        }
    }
    .bf {
        position: absolute;
        left: 525px;
        top: 0;
        width: 600px;
        height: 560px;
        border: 1px solid #ccc;
        overflow: hidden;
        margin-left: -1px;
        visibility: hidden;
    }
    .bpic {
        width: 840px;
        height: 1120px;
        position: absolute;
        z-index: 999;
    }
}