@charset "utf-8";
footer {
    width: 100%;
    background: #000;
}

.footer-t {
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding: 15px 0 7px 0;
    color: white;
    border-bottom: 1px solid #262626;
    div {
        display: inline-block;
        margin: 0 60px 0 0;
    }
    i {
        color: red;
    }
    a {
        color: white;
    }
    .iconfont {
        font-size: 27px;
        vertical-align: middle;
    }
}

.footer-nav {
    font-size: 12px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    ul {
        margin-top: 20px;
    }
    li {
        margin-bottom: 10px;
    }
    a {
        color: #666;
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-info {
    margin-top: 20px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    img {
        display: inline-block;
    }
    a,
    span {
        color: #666;
    }
    .info-l {
        width: 23%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .govicon {
            width: 76px;
            height: 34px;
            display: inline-block;
            background-color: #fff;
            border-radius: 2px;
            text-align: center;
            img {
                margin-top: 5px;
            }
        }
    }
    .info-r {
        width: 77%;
        margin-left: 40px;
        span {
            padding: 0 12px 0;
        }
        a {
            display: inline-block;
            margin-bottom: 4px;
        }
        img {
            vertical-align: middle;
        }
    }
}

.footer-bottom {
    color: #666;
    font-size: 12px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #262626;
    text-align: center;
}

.footer-friend {
    font-size: 12px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    span {
        display: inline-block;
        color: #fff;
    }
    a {
        color: #666;
    }
}

.right-floating {
    position: fixed;
    width: 60px;
    bottom: 20px;
    z-index: 4;
    left: 100%;
    right: 20px;
    margin-left: auto;
    display: none;
    .code-box {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        background: #000;
        opacity: .5;
        cursor: pointer;
        .code-img {
            display: inline-block;
            width: 28px;
            height: 28px;
            background-image: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.scss.png?t=1594090251211);
            background-position: -71px 0;
            background-size: 123px 122px;
            margin-top: 16px;
        }
    }
    .returntop {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        color: #fff;
        background: #000;
        opacity: .5;
        margin-top: 20px;
        cursor: pointer;
        .iconfont {
            font-size: 30px;
        }
    }
    .active {
        opacity: 1;
    }
}

.code-box-content {
    position: absolute;
    bottom: -10px;
    left: -300px;
    width: 290px;
    height: 180px;
    padding: 0 6px;
    z-index: 1000;
    background-color: transparent;
    text-align: center;
    display: none;
    .content {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-color: #f4f4f4
    }
    .content-left,
    .content-right {
        width: 110px;
        display: inline-block;
        background-color: #f4f4f4;
    }
    .content-right {
        margin-top: 0;
    }
    img {
        display: inline-block;
        width: 96px;
        height: 96px;
        margin-top: 20px;
    }
    p,
    a {
        line-height: 20px;
        display: block;
        font-size: 12px;
        text-align: center;
        color: #000;
    }
    a {
        color: red;
    }
}