@charset "utf-8";
@import "base";
footer {
    width: $hundred;
    background: $b;
}

.footer-t {
    height: 32px;
    padding: 15px 0 7px 0;
    color: $w;
    @include font(12px, 32px, $n0, $n0);
    @include border(border-bottom, 1px, solid, $d26);
    div {
        display: inline-block;
        margin: 0 60px 0 0;
    }
    i {
        color: $r;
    }
    a {
        color: $w;
    }
    .iconfont {
        font-size: 27px;
        vertical-align: middle;
    }
}

.footer-nav {
    font-size: 12px;
    color: $w;
    @include display(flex, space-between, $n0);
    ul {
        margin-top: 20px;
    }
    li {
        margin-bottom: 10px;
    }
    a {
        color: $d6;
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-info {
    margin-top: 20px;
    font-size: 12px;
    @include display(flex, space-between, $n0);
    img {
        display: inline-block;
    }
    a,
    span {
        color: $d6;
    }
    .info-l {
        width: 23%;
        @include display(flex, space-between, $n0);
        margin-top: 10px;
        .govicon {
            width: 76px;
            height: 34px;
            display: inline-block;
            background-color: $w;
            text-align: center;
            @include border(border-radius, 2px, $n0, $n0);
            img {
                margin-top: 5px;
            }
        }
    }
    .info-r {
        width: 77%;
        margin-left: 40px;
        span {
            padding: 0 12px 0;
        }
        a {
            display: inline-block;
            margin-bottom: 4px;
        }
        img {
            vertical-align: middle;
        }
    }
}

.footer-bottom {
    color: $d6;
    padding: 20px 0 20px 0;
    @include border(border-bottom, 1px, solid, $d26);
    @include font(12px, $n0, center, $n0);
}

.footer-friend {
    font-size: 12px;
    width: 95%;
    @include display(flex, space-between, $n0);
    padding: 10px 0;
    span {
        display: inline-block;
        color: $w;
    }
    a {
        color: $d6;
    }
}

.right-floating {
    margin-left: auto;
    @include position(60px, $n0, fixed, $n0, 20px, 20px, 100%);
    @include display(none, $n0, 4);
    .code-box {
        width: 60px;
        height: 60px;
        @include font($n0, 50px, center);
        @include color($w, $b);
        opacity: .5;
        cursor: pointer;
        .code-img {
            display: inline-block;
            width: 28px;
            height: 28px;
            background-image: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.scss.png?t=1594090251211);
            background-position: -71px 0;
            background-size: 123px 122px;
            margin-top: 16px;
        }
    }
    .returntop {
        @extend .code-box;
        @include font($n0, 60px, center);
        margin-top: 20px;
        .iconfont {
            font-size: 30px;
        }
    }
    .active {
        opacity: 1;
    }
}

.code-box-content {
    padding: 0 6px;
    background-color: transparent;
    text-align: center;
    @include position(290px, 180px, absolute, $n0, $n0, -10px, -300px);
    @include display(none, $n0, 1000);
    .content {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-color: $f4;
    }
    .content-left,
    .content-right {
        width: 110px;
        display: inline-block;
        background-color: $f4;
    }
    .content-right {
        margin-top: 0;
    }
    img {
        display: inline-block;
        width: 96px;
        height: 96px;
        margin-top: 20px;
    }
    p,
    a {
        @include font(12px, 20px, center);
        display: block;
        color: $b;
    }
    a {
        color: $r;
    }
}