    @charset "utf-8";
    .wrapper {
        width: 1150px;
        margin: 0 auto;
    }
    
    header {
        font-size: 10px;
        width: 100%;
        background-color: #f4f4f4;
        .wrapper {
            display: flex;
            line-height: 32px;
            justify-content: space-between;
            .nav-h-l {
                width: 35%;
                display: flex;
                justify-content: space-between;
                a {
                    color: #000;
                }
                .nav-h-l-r {
                    a {
                        color: red;
                    }
                }
            }
            .nav-h-r {
                width: 65%;
            }
        }
    }
    
    .nav-h-l {
        .nav-h-l-l {
            width: 30%;
            text-align: center;
            &:hover {
                background-color: #dcdcdc;
                .nav-h-l-sec {
                    display: block;
                    z-index: 999;
                }
            }
        }
        .nav-h-l-r {
            width: 70%;
            text-indent: 15px;
            color: red;
            line-height: 32px;
        }
    }
    
    .nav-h-l {
        position: relative;
        .nav-h-l-sec {
            position: absolute;
            top: 32px;
            width: 180px;
            height: 180px;
            background-color: rgb(244, 244, 244);
            display: none;
            ul {
                margin-top: 15px;
                li {
                    height: 30px;
                    line-height: 30px;
                    text-align: left;
                    a {
                        color: #9196a0;
                        margin: 0 0 0 15px;
                        font-size: 14px;
                    }
                    &:hover {
                        a {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    
    .nav-h-l-sec {
        a {
            i {
                display: none;
            }
        }
        a:hover {
            span {
                display: none;
            }
            i {
                display: inline-block;
                z-index: 999;
            }
        }
    }
    
    .nav-h-r {
        ul {
            display: flex;
            color: #8e8e8e;
            li {
                text-align: center;
                padding: 0 10px;
            }
            li:nth-child(1) {
                a {
                    color: #8e8e8e;
                }
            }
            b {
                color: #000;
            }
            span {
                color: #8e8e8e;
            }
            a {
                color: #8e8e8e;
            }
            .icon-arrow {
                font-size: 10px;
            }
            .wx-g {
                color: #86bf4a;
                a {
                    color: #86bf4a;
                }
            }
            .phone-r {
                color: #d71d32;
                a {
                    color: #d71d32;
                }
            }
            .myyh:hover {
                background-color: #eaeceb;
            }
            .custom-s {
                position: relative;
                &:hover {
                    .custom-s-sec,
                    .custom-s-sec-s {
                        display: block;
                        z-index: 999;
                    }
                }
            }
            .custom-s-sec {
                position: absolute;
                top: 32px;
                left: 0px;
                width: 100%;
                height: 32px;
                border-top: 1px solid gray;
                background-color: #eaeceb;
                display: none;
            }
            .custom-s-sec-s {
                position: absolute;
                top: 64px;
                left: 0px;
                width: 100%;
                height: 32px;
                border-top: 1px solid gray;
                background-color: #eaeceb;
                display: none;
            }
            .wx-nav {
                position: relative;
                &:hover {
                    background-color: #eaeceb;
                    div {
                        display: block;
                        z-index: 999;
                    }
                }
                div {
                    display: none;
                    img {
                        margin: 20px auto 0;
                    }
                    width: 146px;
                    position: absolute;
                    top: 32px;
                    left: -28px;
                    text-align: center;
                    background-color: #f4f4f4;
                    p {
                        height: 20px;
                        line-height: 20px;
                        color: #000;
                        &:nth-child(3) {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
            .app-nav {
                position: relative;
                &:hover {
                    background-color: #eaeceb;
                    div {
                        display: block;
                        z-index: 999;
                    }
                }
                div {
                    display: none;
                    img {
                        margin: 20px auto 0;
                    }
                    width: 146px;
                    position: absolute;
                    top: 32px;
                    left: -28px;
                    text-align: center;
                    background-color: #f4f4f4;
                    p {
                        height: 20px;
                        line-height: 20px;
                        color: #000;
                        &:nth-child(3) {
                            color: red;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    
    .t-search {
        height: 90px;
        width: 100%;
        .wrapper {
            position: relative;
            padding-bottom: 20px;
            .img-a {
                display: inline-block;
                position: absolute;
                right: 500px;
                top: 30px;
            }
            .search-2016 {
                position: absolute;
                right: 90px;
                top: 40px;
                height: 29px;
                width: 320px;
                border: 1px solid;
                input {
                    width: 240px;
                    height: 26px;
                    border: 0;
                    box-sizing: border-box;
                    padding-left: 10px;
                }
                a {
                    position: absolute;
                    right: 0px;
                    top: -1px;
                    border: none;
                    display: inline-block;
                    width: 80px;
                    height: 31px;
                    color: white;
                    background-color: black;
                    text-align: center;
                }
            }
            .cart-t {
                position: absolute;
                right: 30px;
                top: 40px;
                .cart {
                    font-size: 26px;
                    color: #000;
                }
            }
        }
    }
    
    .cart-t {
        .cart-t-sec {
            display: block;
            position: absolute;
            z-index: 900;
            right: 0;
            top: 31px;
            width: 360px;
            height: 480px;
            background-color: rgb(248, 248, 248);
            display: none;
            text-align: center;
            a {
                line-height: 400px;
                font-size: 140px;
                color: #000;
            }
            p {
                margin-top: -130px;
                margin-left: 5px;
            }
        }
        .cart:hover {
            +.cart-t-sec {
                display: block;
            }
        }
    }
    
    .nav-t {
        height: 40px;
        width: 100%;
        background-color: #3a3a3a;
        .wrapper {
            position: relative;
        }
        ul {
            width: 950px;
            display: flex;
            justify-content: space-between;
            line-height: 40px;
            li {
                padding: 0 30px 0 0;
                &:hover {
                    .nav-a::after {
                        display: block;
                    }
                }
            }
            .nav-a::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: white;
                position: absolute;
                bottom: 7px;
                display: none;
            }
            .nav-a {
                display: inline-block;
                position: relative;
                font-size: 14px;
                color: white;
            }
        }
    }
    
    .clothes,
    .shoes,
    .bags,
    .ornament {
        font-size: 14px;
        .clothes-content {
            margin-top: 1px;
            display: none;
        }
        hr {
            width: 160px;
            background-color: #000;
        }
        .wrapper-c {
            position: absolute;
            z-index: 999;
            left: 0;
            width: 1150px;
            margin: 0 auto;
            height: 410px;
            display: flex;
            justify-content: space-between;
            background-color: #f4f4f4;
            padding: 10px 0 0 0;
            a {
                display: block;
                color: #a1a1a1;
                &:hover {
                    text-decoration: underline;
                }
            }
            h1 {
                a {
                    font-size: 14px;
                    color: #000;
                }
            }
            i {
                a {
                    color: red;
                }
            }
            img {
                margin-top: 15px;
            }
            .bd-r {
                position: relative;
                &:after {
                    content: "";
                    width: 1px;
                    height: 360px;
                    display: block;
                    background-color: #383838;
                    position: absolute;
                    right: -50px;
                    top: 20px;
                }
            }
            .img-r {
                a {
                    display: block;
                    margin-top: 40px;
                    text-align: center;
                    color: #000;
                }
            }
        }
        &:hover {
            .clothes-content {
                display: block;
            }
        }
    }
    
    .banner {
        width: 1150px;
        height: 430px;
        position: relative;
        margin-top: 10px;
        .active {
            background: gray;
        }
        img {
            width: 1150px;
            height: 430px;
        }
        ul {
            li {
                position: absolute;
                left: 0px;
                top: 0px;
                opacity: 0;
            }
        }
        ol {
            position: absolute;
            left: 50%;
            margin-left: -50px;
            bottom: 20px;
            li {
                float: left;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #ccc;
                text-indent: -999em;
                margin-right: 5px;
                cursor: pointer;
            }
        }
        #left,
        #right {
            display: inline-block;
            background-color: #999;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 50px;
            position: absolute;
            top: 50%;
            margin-top: -40px;
            color: #fff;
            font-size: 60px;
            text-decoration: none;
        }
        #left {
            left: 20px;
        }
        #right {
            right: 20px;
        }
    }