@charset "utf-8";
@import "base";
.floor-title {
    width: 298px;
    height: 31px;
    margin: 80px auto 30px auto;
    @include border();
    @include font(16px, 31px, center);
}

.list-f {
    li {
        display: inline-block;
        float: left;
        margin: 8px 8px 0 0;
        img {
            width: 185px;
            height: 248px;
        }
        &:hover {
            opacity: .8;
        }
    }
    .pic-1,
    .pic-9 {
        img {
            width: 378px;
        }
    }
    .pic-4,
    .pic-9 {
        margin-right: 0;
    }
}

.list-stap {
    height: 175px;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    img {
        width: 378px;
        height: 175px;
        display: inline-block;
    }
    .mar-r {
        margin-right: 2px;
    }
    ul {
        @include position($n0, $n0, absolute, 0px, $n0, $n0, 0px);
        li {
            width: 1150px;
            float: left;
        }
    }
    #sleft,
    #sright {
        margin-top: -30px;
        @include color($w, $d9);
        @include font(60px, 50px, center, $n0);
        @include position(60px, 60px, absolute, 60%, $n0, $n0, $n0);
        text-decoration: none;
        display: none;
    }
    #sleft {
        left: 20px;
    }
    #sright {
        right: 20px;
    }
}

.list-s {
    position: relative;
    li {
        display: inline-block;
        float: left;
        margin: 8px 8px 0 0;
        img {
            width: 185px;
            height: 86px;
        }
        &:hover {
            opacity: .8;
        }
    }
    .f-tap {
        display: inline-block;
        @include position(185px, 86px, absolute, 0px, -8px, $n0, $n0);
        background: url(https://cdn.yoho.cn/yohobuy-node/6.10.6/img/index/logo-brand-line.png?172fa78857b) no-repeat 50%;
        a {
            color: $b;
            font-size: 32px;
            font-weight: 900;
        }
        .a-l {
            @include position($n0, $n0, absolute, 15px, $n0, $n0, 40px);
        }
        .a-r {
            @include position($n0, $n0, absolute, $n0, 40px, 15px, $n0);
        }
    }
    .last-more {
        @include font($n0, 86px, center, $n0);
        @include font($n0, 86px, center, $n0);
        @include position(185px, 86px, absolute, 188px, -8px, $n0, $n0);
        a {
            color: $b;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .pic-10 {
        margin-right: 0;
    }
}

.list-t {
    position: relative;
    li {
        display: inline-block;
        float: left;
        margin: 8px 8px 0 0;
        img {
            width: 185px;
            height: 248px;
        }
        &:hover {
            opacity: .8;
        }
    }
    .pic-0 {
        img {
            height: 152px;
        }
    }
    .pic-1 {
        @include position($n0, $n0, absolute, 160px, $n0, $n0, 0);
        img {
            height: 86px;
        }
    }
    .pic-2,
    .pic-6 {
        img {
            width: 378px;
        }
    }
    .pic-5,
    .pic-9 {
        margin-right: 0;
    }
    .pic-6 {
        margin-left: 193px;
    }
    .list-t-nav {
        @include position(185px, 248px, absolute, 256px, $n0, $n0, 0);
        background-color: #f8f8f8;
        a {
            float: left;
            display: inline-block;
            width: 50%;
            height: 38px;
            color: $b;
            @include font(14px, 38px, center);
        }
    }
}

.list-fo {
    position: relative;
    li {
        display: inline-block;
        float: left;
        margin: 8px 10px 0 0;
        img {
            width: 222px;
            height: 298px;
        }
        &:hover {
            opacity: .8;
        }
    }
    .pic-4 {
        margin-right: 0;
    }
}

.floor-title-more {
    font-size: 14px;
    width: 120px;
    @include color($w, $b);
}