@charset "utf-8";
.floor-title {
    width: 298px;
    height: 31px;
    line-height: 31px;
    border: 1px solid;
    font-size: 16px;
    text-align: center;
    margin: 80px auto 30px auto;
}

.list-f {
    li {
        display: inline-block;
        float: left;
        margin: 8px 8px 0 0;
        img {
            width: 185px;
            height: 248px;
        }
        &:hover {
            opacity: .8;
        }
    }
    .pic-1,
    .pic-9 {
        img {
            width: 378px;
        }
    }
    .pic-4,
    .pic-9 {
        margin-right: 0;
    }
}

.list-stap {
    height: 175px;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    img {
        width: 378px;
        height: 175px;
        display: inline-block;
    }
    .mar-r {
        margin-right: 2px;
    }
    ul {
        position: absolute;
        left: 0px;
        top: 0px;
        li {
            width: 1150px;
            float: left;
        }
    }
    #sleft,
    #sright {
        display: inline-block;
        background-color: #999;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 50px;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        color: #fff;
        font-size: 60px;
        text-decoration: none;
        display: none;
    }
    #sleft {
        left: 20px;
    }
    #sright {
        right: 20px;
    }
}

.list-s {
    position: relative;
    li {
        display: inline-block;
        float: left;
        margin: 8px 8px 0 0;
        img {
            width: 185px;
            height: 86px;
        }
        &:hover {
            opacity: .8;
        }
    }
    .f-tap {
        display: inline-block;
        width: 185px;
        height: 86px;
        position: absolute;
        right: -8px;
        top: 0px;
        background: url(https://cdn.yoho.cn/yohobuy-node/6.10.6/img/index/logo-brand-line.png?172fa78857b) no-repeat 50%;
        a {
            color: #000;
            font-size: 32px;
            font-weight: 900;
        }
        .a-l {
            position: absolute;
            left: 40px;
            top: 15px;
        }
        .a-r {
            position: absolute;
            right: 40px;
            bottom: 15px;
        }
    }
    .last-more {
        width: 185px;
        height: 86px;
        text-align: center;
        line-height: 86px;
        position: absolute;
        right: -8px;
        top: 188px;
        a {
            color: black;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .pic-10 {
        margin-right: 0;
    }
}

.list-t {
    position: relative;
    li {
        display: inline-block;
        float: left;
        margin: 8px 8px 0 0;
        img {
            width: 185px;
            height: 248px;
        }
        &:hover {
            opacity: .8;
        }
    }
    .pic-0 {
        img {
            height: 152px;
        }
    }
    .pic-1 {
        position: absolute;
        left: 0;
        top: 160px;
        img {
            height: 86px;
        }
    }
    .pic-2,
    .pic-6 {
        img {
            width: 378px;
        }
    }
    .pic-5,
    .pic-9 {
        margin-right: 0;
    }
    .pic-6 {
        margin-left: 193px;
    }
    .list-t-nav {
        position: absolute;
        left: 0;
        top: 256px;
        width: 185px;
        height: 248px;
        background-color: #f8f8f8;
        a {
            float: left;
            display: inline-block;
            width: 50%;
            height: 38px;
            line-height: 38px;
            text-align: center;
            color: #000;
            font-size: 14px;
        }
    }
}

.list-fo {
    position: relative;
    li {
        display: inline-block;
        float: left;
        margin: 8px 10px 0 0;
        img {
            width: 222px;
            height: 298px;
        }
        &:hover {
            opacity: .8;
        }
    }
    .pic-4 {
        margin-right: 0;
    }
}

.floor-title-more {
    font-size: 14px;
    width: 120px;
    background-color: #000;
    color: #fff;
}