@charset "UTF-8";
html,
body,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: '微软雅黑';
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

b,
strong {
  font-weight: normal;
}

i,
em,
b,
strong {
  font-style: normal;
}

a,
u {
  text-decoration: none;
}

img {
  border: 0;
  display: block;
}

input,
fieldset {
  outline: none;
  border: 0;
}

.clear_fix:after {
  content: '.';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
}

.clear_fix {
  zoom: 1;
}

@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("../../font/iconfont.woff2") format("woff2"), url("../../font/iconfont.woff") format("woff"), url("../../font/iconfont.ttf") format("truetype"), url("../../font/iconfont.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfont5:before {
  content: "\e63a";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-gouwuchetianjia:before {
  content: "\e640";
}

.icon-cuowu:before {
  content: "\e641";
}

.icon-erweima:before {
  content: "\e642";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-lajixiang:before {
  content: "\e645";
}

.icon-lianjie:before {
  content: "\e646";
}

.icon-naozhong:before {
  content: "\e648";
}

.icon-saoyisao:before {
  content: "\e649";
}

.icon-shangfan:before {
  content: "\e64a";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-shengyin:before {
  content: "\e64c";
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-shouhuodizhi:before {
  content: "\e64e";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-shuaxin:before {
  content: "\e650";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-suo:before {
  content: "\e652";
}

.icon-tishi:before {
  content: "\e653";
}

.icon-wancheng:before {
  content: "\e654";
}

.icon-wodedingdan:before {
  content: "\e655";
}

.icon-wodefankui:before {
  content: "\e656";
}

.icon-wodehongbao:before {
  content: "\e657";
}

.icon-wodejuhuasuan:before {
  content: "\e659";
}

.icon-wodeyouhuiquan:before {
  content: "\e65a";
}

.icon-xiafan:before {
  content: "\e65b";
}

.icon-xiala:before {
  content: "\e65c";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-yijianfankui:before {
  content: "\e662";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-zhengque:before {
  content: "\e664";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-lingcunwei:before {
  content: "\e666";
}

.icon-new:before {
  content: "\e667";
}

.icon-ju:before {
  content: "\e668";
}

.icon-suan:before {
  content: "\e669";
}

.icon-hua:before {
  content: "\e66a";
}

.icon-ju1:before {
  content: "\e66b";
}

.icon-huo:before {
  content: "\e66c";
}

.icon-301:before {
  content: "\e67c";
}

.icon-7:before {
  content: "\e67d";
}

.icon-mian:before {
  content: "\e67e";
}

.icon-jushoucanggift:before {
  content: "\e684";
}

.icon-liwu:before {
  content: "\e685";
}

.icon-yuyin:before {
  content: "\e687";
}

.wrapper {
  width: 1150px;
  margin: 0 auto;
}

.wrapper-s {
  width: 990px;
  margin: 0 auto;
}

header {
  height: 68px;
  width: 100%;
  border-bottom: 2px solid;
}
header .logo {
  margin-top: 14px;
  display: inline-block;
  width: 170px;
  height: 40px;
}
header .right-nav {
  float: right;
  font-size: 12px;
  line-height: 68px;
}
header .right-nav span {
  padding: 0 8px;
}
header .right-nav i {
  vertical-align: middle;
}

.banner {
  width: 495px;
  height: 318px;
  border-right: 1px solid #dfdfdf;
  margin: 100px 0 100px 0;
  display: inline-block;
  float: left;
}
.banner img {
  display: inline-block;
  width: 252px;
  height: 190px;
  margin-left: 120px;
  margin-top: 64px;
}

.loginbox {
  margin-left: 80px;
  margin-top: 185px;
  display: inline-block;
}
.loginbox p {
  height: 45px;
  width: 380px;
  margin: 5px 0;
}
.loginbox input {
  width: 268px;
  height: 43px;
  border: 1px solid #dbdbdb;
  color: #9a9a9a;
  text-indent: 10px;
  font-size: 16px;
  line-height: 43px;
}

footer {
  width: 100%;
  background: #000;
}

.footer-t {
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  padding: 15px 0 7px 0;
  color: white;
  border-bottom: 1px solid #262626;
}
.footer-t div {
  display: inline-block;
  margin: 0 60px 0 0;
}
.footer-t i {
  color: red;
}
.footer-t a {
  color: white;
}
.footer-t .iconfont {
  font-size: 27px;
  vertical-align: middle;
}

.footer-nav {
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.footer-nav ul {
  margin-top: 20px;
}
.footer-nav li {
  margin-bottom: 10px;
}
.footer-nav a {
  color: #666;
}
.footer-nav a:hover {
  text-decoration: underline;
}

.footer-info {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.footer-info img {
  display: inline-block;
}
.footer-info a,
.footer-info span {
  color: #666;
}
.footer-info .info-l {
  width: 23%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.footer-info .info-l .govicon {
  width: 76px;
  height: 34px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  text-align: center;
}
.footer-info .info-l .govicon img {
  margin-top: 5px;
}
.footer-info .info-r {
  width: 77%;
  margin-left: 40px;
}
.footer-info .info-r span {
  padding: 0 12px 0;
}
.footer-info .info-r a {
  display: inline-block;
  margin-bottom: 4px;
}
.footer-info .info-r img {
  vertical-align: middle;
}

.footer-bottom {
  color: #666;
  font-size: 12px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #262626;
  text-align: center;
}

.footer-friend {
  font-size: 12px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.footer-friend span {
  display: inline-block;
  color: #fff;
}
.footer-friend a {
  color: #666;
}

.right-floating {
  position: fixed;
  width: 60px;
  bottom: 20px;
  z-index: 4;
  left: 100%;
  right: 20px;
  margin-left: auto;
  display: none;
}
.right-floating .code-box {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #000;
  opacity: .5;
  cursor: pointer;
}
.right-floating .code-box .code-img {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(https://cdn.yoho.cn/yohobuy-node/6.11.0/img/sprite.scss.png?t=1594090251211);
  background-position: -71px 0;
  background-size: 123px 122px;
  margin-top: 16px;
}
.right-floating .returntop {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  background: #000;
  opacity: .5;
  margin-top: 20px;
  cursor: pointer;
}
.right-floating .returntop .iconfont {
  font-size: 30px;
}
.right-floating .active {
  opacity: 1;
}

.code-box-content {
  position: absolute;
  bottom: -10px;
  left: -300px;
  width: 290px;
  height: 180px;
  padding: 0 6px;
  z-index: 1000;
  background-color: transparent;
  text-align: center;
  display: none;
}
.code-box-content .content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-color: #f4f4f4;
}
.code-box-content .content-left,
.code-box-content .content-right {
  width: 110px;
  display: inline-block;
  background-color: #f4f4f4;
}
.code-box-content .content-right {
  margin-top: 0;
}
.code-box-content img {
  display: inline-block;
  width: 96px;
  height: 96px;
  margin-top: 20px;
}
.code-box-content p,
.code-box-content a {
  line-height: 20px;
  display: block;
  font-size: 12px;
  text-align: center;
  color: #000;
}
.code-box-content a {
  color: red;
}

.codefixed {
  position: fixed;
  top: 260px;
  right: 20px;
  width: 117px;
  padding-top: 20px;
  border: none;
  z-index: 9999;
}
.codefixed i {
  position: absolute;
  top: -8px;
  right: -10px;
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}
.codefixed img {
  display: inline-block;
  width: 116px;
  height: 116px;
}
.codefixed span {
  display: block;
  font-size: 12px;
  height: 20px;
  line-height: 12px;
  text-align: center;
}

/*# sourceMappingURL=login.css.map */
